<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Career History</h2>
                <hr class="light">
<p class="text-faded">Started as a software developer writing front and backend systems for emergency management software for the US Army in Java.</p>

<p class="text-faded">Transitioned to a technical consulting role enabling scientific researchers to utilize large scale compute clusters. This role provided exposure to elements of distributed, scalable systems, and even allowed ample opportunity to hack on custom code for scientists. The work was based around grid computing (ie: old school batch/mpi scheduling at scale), and attempted to transition these principals to manage long running transactional workloads (ie: cloud computing with proper scheduling, way ahead of it's time == total failure).</p>

<p class="text-faded">Introduced to and subsequently became obsessed with Puppet while working on custom R software for scientists at a pharmaceutical research facility in Vienna, Austria. Aggressively pursued a position at Puppet Labs, and joined the company as employee number 9 soon after. Held critical roles there in professional services, engineering, and business development over the next 4 years.</p>

<p class="text-faded">Created the successful consulting company Bodeco which was able to make large contributions to both IT project and software products at both a tactical as well as executive level.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact Us</a>
            </div>
        </div>
    </div>
</section>
