<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Career History</h2>
                <hr class="light">

<p class="text-faded">Currently work at Intel in the "Software Defined Infrastructure" group. Built out a team from scratch to provide "Testing-as-a-Service" and "Continuous-Deployment-as-a-Service" platforms based on Kubernetes and Docker.</p>

<p class="text-faded">Created the successful consulting company, Bodeco, which was able to make large contributions to both IT projects and software products at both a tactical and executive level. Focused on infrastructure automation and continuous delivery projects.</p>

<p class="text-faded">Helped build out Puppet Labs as an early employee. Started as the first hire in Professional Services. Worked in engineering to provide a customer voice. Helped launch ecosystem development as the first hire in Business Development.</p>

<p class="text-faded">Started out as a Java developer. Transitioned to a technical consulting role helping scientists run their applications in HPC clusters.</p>

            </div>
        </div>
    </div>
</section>
